extend layout 

block main-content
    div#how-to-use
        h2 How to Use
        ol
        li Add Ingredients
            p On the homepage, you'll find a field labeled 'Add a food'. Start typing the name of the ingredient or food item you have. As you type, our auto-suggest feature will provide you with possible matches. Select the one that fits best. Click the 'Add' button to add the ingredient to your list. Repeat the process for all the ingredients you want to include.
        li Review Your Ingredients List
            p After adding ingredients, they'll be displayed below the input field. This way, you can review, and if necessary, remove any items you've added by mistake.
        li Generate a Recipe
            p Once you're satisfied with your ingredients list, click on the 'Generate Recipe' button. Our system will process your ingredients and come up with a unique recipe tailored to what you have!
        li Enjoy Your Meal
            p Follow the provided recipe instructions to whip up a delicious meal. Enjoy your culinary creation and the satisfaction of reducing food waste by using what you already have!
        li Start Over
            p Want to try a different recipe? Simply return to the homepage and start the process over again.
