doctype html
html
  head
    link(rel="stylesheet" href="styles/styles.css")
    script(src="scripts/script.js" defer) 
    title Recipe for your refigreator 
  body
    h1 Add a food
    form(action="/add-grocery-item" method="POST")
      input(type="text" name="title" placeholder="e.g. chicken")
      button(type="submit") Add
    
    if groceryItems
      each item in groceryItems
        div #{item}
    
    form(action="/generate-recipe" method="POST")
      button(type="submit" class="recipe-btn") Generate Recipe
    
    if recipe
      div(class="recipe")!= recipe
    else
      div(class="recipe") Loading