extend layout 

block main-content 
  form(action="/add-grocery-item" method="POST")
    label(for="autoCompleteInput") 
      h2 Add an ingredient:
    br
    input#autoCompleteInput(type="text" name="ingredient" placeholder="e.g. chicken")
    button(type="submit") Add
    div#autoCompleteResults
  
  div.grocery-item-wrapper
    if groceryItems
      each item, index in groceryItems
        div.grocery-item 
          div #{item}
          form(action="/delete-grocery-item" method="POST")
            input(type="hidden" name="itemId" value=index)
            button.delete-btn(type="submit") Delete
  
  form(action="/generate-recipe" method="POST")
    button(type="submit" class="recipe-btn") Generate Recipe
  br
  p.message #{message}

  div(class="loading") Loading...