extend layout 

block main-content 
  form(action="/add-grocery-item" method="POST")
    label(for="autoCompleteInput") 
      h2 Add an ingredient:
    br
    input#autoCompleteInput(type="text" name="ingredient" placeholder="e.g. chicken")
    button(type="submit") Add
    div#autoCompleteResults
  
  if groceryItems
    each item in groceryItems
      div.grocery-item #{item}
  
  form(action="/generate-recipe" method="POST")
    button(type="submit" class="recipe-btn") Generate Recipe
  
  div(class="loading") Loading