extend layout 

block main-content 
  h2 Add a food
  form(action="/add-grocery-item" method="POST")
    input#autoCompleteInput(type="text" name="title" placeholder="e.g. chicken")
    button(type="submit") Add
    div#autoCompleteResults
  
  if groceryItems
    each item in groceryItems
      div.grocery-item #{item}
  
  form(action="/generate-recipe" method="POST")
    button(type="submit" class="recipe-btn") Generate Recipe
  
  div(class="loading") Loading