extend layout 

block main-content 
    h1 Add a food
    form(action="/add-grocery-item" method="POST")
      input(type="text" name="title" placeholder="e.g. chicken")
      button(type="submit") Add
    
    if groceryItems
      each item in groceryItems
        div #{item}
    
    form(action="/generate-recipe" method="POST")
      button(type="submit" class="recipe-btn") Generate Recipe
    
    div(class="loading") Loading