block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="styles/styles.css")
    script(src="scripts/script.js" defer) 
    title Recipe for your refrigerator 
  body 
    header
      h1
        a(href="/") DiscountDish
    main#main
      block main-content 
    footer#footer 
      p &copy; Hong Kan Poon HTTP5211, 2023.