doctype html
html
  head
    title UPC Lookup
  body
    h1 Product Information
    p UPC: #{item.upc}
    p Brand: #{item.brand}
    p Title: #{item.title}
    form(action="/add-grocery-item" method="POST")
      input(type="text" name="title" value=item.title)
      button(type="submit") Add
    a(href="/") Back
